<div class="parallax-container">
      <div class="parallax">
        <img src="https://images.pexels.com/photos/471866/pexels-photo-471866.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb">
      </div>
    </div>
<br>