<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo" "grey-text text-darken-1">Takahiro Suzuki</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!--<li><a href="pages/skills">Skills & Experience</a></li>-->
        <li><a href="https://drive.google.com/file/d/0B0kyjYNfZjrDMXpVU2Jlc1hZWWM/view?usp=sharing">Career & Github</a></li>
          <!-- <li><a href="collapsible.html">Contact</a></li> -->
      </ul>
    </div>
  </nav>
