<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Takahiro Suzuki</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/skills/skills">Skills & Experience</a></li>
        <li><a href="https://docs.google.com/document/d/1ZDlGrp8QE_nStUO6FeNhCnqFclgCgxCwoWaKfnYF6cI/edit?usp=sharing">CV</a></li>
          <li><a href="collapsible.html">Contact</a></li>
      </ul>
    </div>
  </nav>
