 <nav>
    <div class="nav-wrapper" >
      <a href="#!" class="nav-brand-logo">TAKAHIRO SUZUKI</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down"> 
        <!-- <li><a href="pages/skills" class="black-text text-black">Skills & Experience</a></li>-->
        <li><a href="https://drive.google.com/file/d/0B0kyjYNfZjrDMXpVU2Jlc1hZWWM/view?usp=sharing" class="black-text text-black">CV</a></li>
        <!-- <li><a href="collapsible.html">Javascript</a></li> -->
        <!-- <li><a href="mobile.html">Mobile</a></li> -->
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <!-- <li><a href="pages/skills">Skills & Experience</a></li>-->
        <li><a href="https://drive.google.com/file/d/0B0kyjYNfZjrDMXpVU2Jlc1hZWWM/view?usp=sharing">CV</a></li>
        <li><a href="https://github.com/TakahiroSuzukiqq">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/takahiro-suzuki-1b33a2131/">LinkedIn</a></li>
        <!-- <li><a href="collapsible.html">Javascript</a></li> -->
        <!-- <li><a href="mobile.html">Mobile</a></li> -->
      </ul>
    </div>
  </nav>

  