<div class="nav-bar">
  <%= render 'partials/nav' %>
</div>
<br>
<h3>Crriculum Vitae</h3>
<br>
<br>
<br>
Contact Details <br>
Name     :   Takahiro Suzuki <br>
Email    :   takahirosuzuki.m010@gmail.com <br>
Github   :    <a href="https://github.com/TakahiroSuzukiqq">TakahiroSuzukiqq</a><br>
LinkedIn :    <a href="https://www.linkedin.com/in/takahiro-suzuki-1b33a2131/">Takahiro Suzuki</a><br>
<br>
Objectives <br>
I would like to combine my skills in programming and my extensive background in sales and marketing, and with these skills I would like to work as a junior software developer perhaps in a field related to marketing or with a focus on growth hacking. <br>
With my background in marketing, sales and now software developer I believe I would be a valuable addition to any team. <br>
<br>
<br>
Summary <br>
I used my skills in marketing, negotiation and problem solving to achieve more than 115% of my sales profit targets 3 years in a row while servicing a varied and diverse array of industries as a sales consultant employed by a petrochemicals trading company. <br>
<br>
<br>
Professional Experience And Achievements <br>
Mitsui Bussan Chemicals Co., Ltd. <br>
March, 2013 – November, 2016 <br>
<br>
Company: <br>
Mitsui Bussan Chemicals is one of the biggest petrochemicals trading companies in Japan, <br>
<br>
Achievement : <br>
・Achieved sales profit record 115% over budget per April – September, 2016 <br>
・Achieved sales profit record 116% over budget per 2015 business year <br>
・Achieved sales profit record 115% over budget per 2014 business year <br>
<br>
Role : <br>
1.Amino acid exporting project <br>
As a leader of a project exporting Amino acid to the USA, I led 7 people to carry out market research,　build a logistics network and to negotiate with both a supplier and a logistics company achieving a great within a short duration. <br>
As a result I made a deal with revenue of AUD 2 million and profit of AUD60,000. <br>
<br>
2. New business with Japanese automotive parts manufacturing company <br>
To get trust and build a relationship with this company, I led numerous technical discussions. <br>
I used my petrochemical knowledge to propose process improvements and to reduce their production cost. I also negotiated price with the supplier in order to close the deal. <br>
As a result our proposal was adopted and I generated revenue of AUD０.2 million and profit of AUD 12,000. <br>
<br>
3.International trade <br>
I imported and exported raw materials for electronics, using a deep knowledge of international trade to increase our revenue by AUD 0.7 million sales and profit by AUD 0.2 million.　<br>
I also worked on negotiating new businesses in Korea, Thailand, Austria and Poland. <br>
<br>
<br>
Education <br>
Institution: CoderFactory Academy <br>
Qualification: Diploma of Software Development <br>
<br>
Institution : Waseda University <br>
Qualification : Bachelor of Social Science (2013) <br>
<br>
<br>
Skills <br>
Personal skills : <br>
Sales, marketing, negotiation, problem solving skills such as identifying a problem, building a hypothesis of the cause of that problem, testing the hypothesis and implementing solutions which lead to a resolution. <br>
<br>
Information Technology : <br>
Basic use of Microsoft office, programming skills such as Ruby on Rails, HTML, CSS, Javascript <br>
<br>
Others : <br>
・Pre-advanced level of English (TOEIC 855) speaker <br>
・Native Japanese speaker <br>
・Japanese Driver’s license <br>
・Japanese teaching certificate <br>
<br>
