<div class="nav-bar">
  <%= render 'partials/nav' %>
</div>
<br>

<div class = "intro">
  <div class="slider">
     <ul class="slides">
       <li>
         <img src="https://image.ibb.co/cJ395Q/having_c.jpg">
         <div class="caption center-align">
           <h3>Having curiosity</h3>
           <h5 class="light grey-text text-lighten-3">Try everything with passion</h5>
         </div>
       </li>
       <li>
          <img src="https://image.ibb.co/khetX5/continuous_s_g.jpg">
          <!-- <img src="https://static.pexels.com/photos/158607/cairn-fog-mystical-background-158607.jpeg"> -->
         <div class="caption left-align">
           <h3>Continuous self growth</h3>
           <h5 class="light grey-text text-lighten-3">Study hard, be patience</h5>
         </div>
       </li>
       <li>
         <img src="https://image.ibb.co/f2Ldzk/broaden_f.jpg">
         <div class="caption right-align">
           <h3>Broaden horizons</h3>
           <h5 class="light grey-text text-lighten-3">Explore unknown territory</h5>
         </div>
       </li>
       <li>
         <img src="https://image.ibb.co/f01kek/challenge.jpg">
         <div class="caption center-align">
           <h3>Challenge</h3>
           <h5 class="light grey-text text-lighten-3">Take the new step</h5>
         </div>
       </li>
     </ul>
   </div>
</div>


<div class="row">
  <div class="col l6 m12 s12">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <div class="main">
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag 'portfolio_img.png', class:"portfolio_img" %>
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4"><%= image_tag 'jp-flag.png', class:"jp_flag" %>Takahiro Suzuki<i class="material-icons right">more_vert</i></span>
           <!-- <p><a href="#">This is a link</a></p> -->
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Takahiro Suzuki<i class="material-icons right">close</i></span>
           <p>
             January, 2017 - <br>
             Student at Coder Factory Academy  Sydney, Australia <br><br>
             April, 2013 - September, 2016 <br>
             Work for Mitui Bussan Chemicals Co., Ltd.  Osaka, Japan <br><br>
             April, 2009 - March, 2013 <br>
             Student at Waseda University  Tokyo, Japan <br><br>
             December, 1989 - <br>
             born and raised in Tokyo, japan
           </p>
         </div>
       </div>
      </div>
  </div>
  <div class="col l6 m12 s12">
    <div class="space">
    </div>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">work</i>3 year and 8 months</div>
        <div class="collapsible-body">
          <span>
            As a sales representitive, Takahiro Suzuki has 3 year and 8 months working experience in a petrochemicals trading company.<br>
            Used my skills in marketing, negotiation and problem solving to achieve more than 115% of my sales profit targets 3 years in a row <br>
            while servicing a varied and diverse array of industries as a sales consultant employed by a petrochemicals trading company.
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">code</i>Programming</div>
        <div class="collapsible-body">
          <span>
            Found my passion in programming, shifted the career from sales consultant to developer.
            Now as an aspiring full stack developer,during the period in Coderfactory Academy tasks
            and the project has been completed, applying skills such as Ruby, Ruby on rails, HTML, CSS and Javascript.
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">language</i>Diversity</div>
        <div class="collapsible-body">
          <span>
            Besides, having a background of Social science in university, experienced diversity of culture.
        </span>
      </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">perm_identity</i>Personality</div>
        <div class="collapsible-body">
          <span>
            With passion and patience, created several project as a projexct leader in a petrochemicals trading company,
             such as the project exporting hundreds tons of amino acids to overseas country.<br>
            Having spirits to challenge organized several tennis tournaments which participants were more than 1,000,
             as a manager of tennis event organization in university.<br>
            More than 10 years of playing tennis as a hobby.<br>
            Having curiousity, traveled South east Asia as a backpacker.
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- <div class = "circle_button">
  <div class="fixed-action-btn horizontal click-to-toggle spin-close">
    <a class="btn-floating btn-large red">
      <i class="material-icons">assignment_ind</i>
    </a>
    <ul>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">perm_contact_calendar</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">assignment<a href="https://github.com/TakahiroSuzukiqq"></a></i></a></li>
    </ul>
  </div>
</div> -->
<br>
<br>
<h3>Apps</h3>
<br>
<br>

<div class="row">
  <div class="col l4 m12 s12">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <div class="main">
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="https://image.ibb.co/fNvzqk/githublogofe.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Fair trade app<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/TakahiroSuzukiqq/CFA-ProjectNo2">Github</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Fair enough<i class="material-icons right">close</i></span>
           <p>
             Encourage people to join fair trade and aim at creating international community.
             Encourage raw supplers such as clothes, cotton, cacao, coffee to join the community.
             Supplier can sell products via this app, and user can buy products via this app.
           </p>
         </div>
       </div>
      </div>
    </div>
  <div class="col l4 m12 s12">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <div class="main">
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="https://preview.ibb.co/imxmkQ/airbnb_app.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Airbnb app<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/TakahiroSuzukiqq/CFA-Airbnb-airtns-">Github</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">airtns<i class="material-icons right">close</i></span>
           <p>
             This app is just like Airbnb. <br>
             User can be a both Host and a Guest. <br>
             The Host can post a room, and the Guest can book a room and pay for it.
            </p>
         </div>
       </div>
      </div>
    </div>
    <div class="col l4 m12 s12">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <div class="main">
         <div class="card">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="https://image.ibb.co/fnwU5Q/atm_app.jpg" >
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">ATM app<i class="material-icons right">more_vert</i></span>
             <p><a href="https://github.com/TakahiroSuzukiqq/CFA-ATM-terminal-app">Github</a></p>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">CFA-ATM-Terminal app<i class="material-icons right">close</i></span>
             <p>
              This is the first application which I made. <br>
              You can either withdraw or deposit money and check current ballance.
             </p>
           </div>
         </div>
        </div>
      </div>
</div>

<br>
<br>
<h3>Group challenges</h3>
<br>
<br>
<div class="row">
  <div class="col l4 m12 s12 offset-s4">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <div class="main">
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="https://image.ibb.co/ekB2Fk/aquila.png">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Study tracker app<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/arapl3y/CFA-LetsGetGit">Github</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Aquila<i class="material-icons right">close</i></span>
           <p>
            This app is for teachers to accomodate students who are excelling and struggling in a class.<br>
            Teaching manpower and time frame are limited in the class.<br>
            And it is difficult to see the study progress of each student out of the class.<br>
            With this app, students can set up study plans and teachers can see them.<br>
           </p>
         </div>
       </div>
      </div>
    </div>
  <div class="col l4 m12 s12 ">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <div class="main">
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="https://preview.ibb.co/iyAdzk/recipe_finder.jpg">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Recepe finder app<i class="material-icons right">more_vert</i></span>
           <p><a href="https://github.com/TakahiroSuzukiqq/CFA-Recipe-Finder-App">Github</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">CFA-Recipe-Finder<i class="material-icons right">close</i></span>
           <p>
             With some easy questions, this application will support you to decide your meal and show its recipe.<br>
             The recipe finder app takes input from a user depending on what ingredients they have <br>
             in their cupboard and then uses a google API to search for recipes which include those ingredients.
           </p>
         </div>
       </div>
      </div>
    </div>
</div>
