// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// # gray background
.forrgba{
  background-color: #F6F4F8;
  background: rgba(0,0,0,0.5);
}
// #experience_img{
//   width: 80%;
//   height:200px;
// }

.experiencepage{
  font-size: 30px;
  text-align: center;
  margin-bottom: 3em;
}

//# software eveloper
.text-webdeveloper{
  border-top: 5px solid #681506;
//   padding: 80px 0 400px 0;
text-align: center;
 }
.webdeveloper{
  max-width: 100%;
  text-align: center;
  margin-bottom: 3em;
}
.container-webdeveloper{
  margin-bottom: 10em;
}

#cfa-logo_img{
  // height: 300px;
  max-width: 90%;
  text-align: center;
  // margin: 100%
}
.codingskill{
  max-width: 100%;
  text-align: center;
}

.ruby{  margin:  auto;
  height: 300px;
  width: 90%;
  text-align: center;
}
#ruby_img{
  margin: 0 auto;
  height: 300px;
  width: 90%;
}
.ruby_on_rails{
  margin:  auto;
  height: 300px;
  width: 90%;
  text-align: center;
}
#rails_img{
  margin: 0 auto;
  height: 300px;
  width: 90%;
}
.html{
  margin:  auto;
  height: 300px;
  width: 90%;
  text-align: center;
}
#html_img{
  margin: 0 auto;
  height: 300px;
  width: 90%;
}
.css{
  margin:  auto;
  height: 300px;
  width: 90%;
  text-align: center;
}
#css_img{
  margin: 0 auto;
  height: 300px;
  width: 90%;
}


// ### petrochemicals trading company ###
// # borderline
.mbc{
  border-top: 5px solid #681506;
}
.petrochemicals{
  text-align: center;;
}
.sales{
  margin:  auto;
  height: 400px;
  width: 90%;
  text-align: center;
}
#shakehands_img{
  margin: 0 auto;
  height: 400px;
  width: 90%;
  // text-align: center;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, .4) inset,
               0 0 4px rgba(0, 0, 0, .8) inset,
               2px 2px 2px rgba(0, 0, 0, .4);
}
//# marketng
.marketing{
  margin: 0 auto;
  height: 400px ;
  width: 90%;
  text-align: center;
}
#marketing_img{
  margin: 0 auto;
  height: 400px;
  width: 90%;
  // text-align: center;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, .4) inset,
               0 0 4px rgba(0, 0, 0, .8) inset,
               2px 2px 2px rgba(0, 0, 0, .4);
}

// //# logistics
.logistics{
  margin: 0 auto;
  height: 400px;
  width: 90%;
  text-align: center;
}
#logistics_img{
  margin: 0 auto;
  height: 400px;
  width: 90%;
  // text-align: center;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, .4) inset,
               0 0 4px rgba(0, 0, 0, .8) inset,
               2px 2px 2px rgba(0, 0, 0, .4);
}
.flex-container-mbc{
  margin-bottom: 10em;
}


// # university
.university{
  border-top: 5px solid #681506;
}
.waseda{
  text-align: center;
}

.major{
  max-width: 100%;
  text-align: center;
}
#IR_img{
  height: 400px;
  width: 90%;
  text-align: center;
  // border-radius: 300px 20px 450px 15px / 30px 200px 45px 150px;
}
.tennis-event{
  max-width: 100%;
  text-align: center;
}
#tennis_img{
  height: 400px;
  width: 90%;
  text-align: center;
  // border-radius: 500px 400px 40px 50px / 50px 40px 400px 500px;
}
.waiter{
  max-width: 100%;
  text-align: center;
}
#jpfood_img{
  height: 400px;
  width: 90%;
  text-align: center;
  // border-radius: 40px 250px 400px 25px / 150px 30px 40px 100px;
}
